* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font: 1em/1.5 monospace;
  color: #111;
  max-width: 48em;
  padding: 1em;
  margin: auto;
}

h1, h2 {
  font-size: 1em;
  margin: 0 0 1.5em;
}
h1:before {
  content: '# ';
}
h2:before {
  content: '## ';
}

p {
  margin: 0 0 1.5em;
}

ul {
  list-style: none;
  margin: 0 0 1.5em;
  padding: 0;
}

ul li:before {
  content: '- ';
}

.h-card img {
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.5em;
}
