* {
	box-sizing: border-box;
}

body {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 1em;
}

p {
  margin: 1.5em 0;
}

p:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 32em;
}
